<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mydb?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">Topasio</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="model/Cor.hbm.xml"/>
    <mapping resource="model/Vendedor.hbm.xml"/>
    <mapping resource="model/Fornecedor.hbm.xml"/>
    <mapping resource="model/Endereco.hbm.xml"/>
    <mapping resource="model/Produto.hbm.xml"/>
    <mapping resource="model/Venda.hbm.xml"/>
    <mapping resource="model/Categoria.hbm.xml"/>
    <mapping resource="model/Pessoa.hbm.xml"/>
    <mapping resource="model/Pessoafisica.hbm.xml"/>
    <mapping resource="model/Tamanho.hbm.xml"/>
    <mapping resource="model/Estampa.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
